NET "reset" CLOCK_DEDICATED_ROUTE = FALSE;

NET "data[31]" IOSTANDARD = LVCMOS18;
NET "data[30]" IOSTANDARD = LVCMOS18;
NET "data[29]" IOSTANDARD = LVCMOS18;
NET "data[28]" IOSTANDARD = LVCMOS18;
NET "data[27]" IOSTANDARD = LVCMOS18;
NET "data[26]" IOSTANDARD = LVCMOS18;
NET "data[25]" IOSTANDARD = LVCMOS18;
NET "data[24]" IOSTANDARD = LVCMOS18;
NET "data[23]" IOSTANDARD = LVCMOS18;
NET "data[22]" IOSTANDARD = LVCMOS18;
NET "data[21]" IOSTANDARD = LVCMOS18;
NET "data[20]" IOSTANDARD = LVCMOS18;
NET "data[19]" IOSTANDARD = LVCMOS18;
NET "data[18]" IOSTANDARD = LVCMOS18;
NET "data[17]" IOSTANDARD = LVCMOS18;
NET "data[16]" IOSTANDARD = LVCMOS18;
NET "data[15]" IOSTANDARD = LVCMOS18;
NET "data[14]" IOSTANDARD = LVCMOS18;
NET "data[13]" IOSTANDARD = LVCMOS18;
NET "data[12]" IOSTANDARD = LVCMOS18;
NET "data[11]" IOSTANDARD = LVCMOS18;
NET "data[10]" IOSTANDARD = LVCMOS18;
NET "data[9]" IOSTANDARD = LVCMOS18;
NET "data[8]" IOSTANDARD = LVCMOS18;
NET "data[7]" IOSTANDARD = LVCMOS18;
NET "data[6]" IOSTANDARD = LVCMOS18;
NET "data[5]" IOSTANDARD = LVCMOS18;
NET "data[4]" IOSTANDARD = LVCMOS18;
NET "data[3]" IOSTANDARD = LVCMOS18;
NET "data[2]" IOSTANDARD = LVCMOS18;
NET "data[1]" IOSTANDARD = LVCMOS18;
NET "data[0]" IOSTANDARD = LVCMOS18;
NET "led[31]" IOSTANDARD = LVCMOS18;
NET "led[30]" IOSTANDARD = LVCMOS18;
NET "led[29]" IOSTANDARD = LVCMOS18;
NET "led[28]" IOSTANDARD = LVCMOS18;
NET "led[27]" IOSTANDARD = LVCMOS18;
NET "led[26]" IOSTANDARD = LVCMOS18;
NET "led[25]" IOSTANDARD = LVCMOS18;
NET "led[24]" IOSTANDARD = LVCMOS18;
NET "led[23]" IOSTANDARD = LVCMOS18;
NET "led[22]" IOSTANDARD = LVCMOS18;
NET "led[21]" IOSTANDARD = LVCMOS18;
NET "led[20]" IOSTANDARD = LVCMOS18;
NET "led[19]" IOSTANDARD = LVCMOS18;
NET "led[18]" IOSTANDARD = LVCMOS18;
NET "led[17]" IOSTANDARD = LVCMOS18;
NET "led[16]" IOSTANDARD = LVCMOS18;
NET "led[15]" IOSTANDARD = LVCMOS18;
NET "led[14]" IOSTANDARD = LVCMOS18;
NET "led[13]" IOSTANDARD = LVCMOS18;
NET "led[12]" IOSTANDARD = LVCMOS18;
NET "led[11]" IOSTANDARD = LVCMOS18;
NET "led[10]" IOSTANDARD = LVCMOS18;
NET "led[9]" IOSTANDARD = LVCMOS18;
NET "led[8]" IOSTANDARD = LVCMOS18;
NET "led[7]" IOSTANDARD = LVCMOS18;
NET "led[6]" IOSTANDARD = LVCMOS18;
NET "led[5]" IOSTANDARD = LVCMOS18;
NET "led[4]" IOSTANDARD = LVCMOS18;
NET "led[3]" IOSTANDARD = LVCMOS18;
NET "led[2]" IOSTANDARD = LVCMOS18;
NET "led[1]" IOSTANDARD = LVCMOS18;
NET "led[0]" IOSTANDARD = LVCMOS18;
NET "data[31]" PULLDOWN;
NET "data[30]" PULLDOWN;
NET "data[29]" PULLDOWN;
NET "data[28]" PULLDOWN;
NET "data[27]" PULLDOWN;
NET "data[26]" PULLDOWN;
NET "data[25]" PULLDOWN;
NET "data[24]" PULLDOWN;
NET "data[23]" PULLDOWN;
NET "data[22]" PULLDOWN;
NET "data[21]" PULLDOWN;
NET "data[20]" PULLDOWN;
NET "data[19]" PULLDOWN;
NET "data[18]" PULLDOWN;
NET "data[17]" PULLDOWN;
NET "data[16]" PULLDOWN;
NET "data[15]" PULLDOWN;
NET "data[14]" PULLDOWN;
NET "data[13]" PULLDOWN;
NET "data[12]" PULLDOWN;
NET "data[11]" PULLDOWN;
NET "data[10]" PULLDOWN;
NET "data[9]" PULLDOWN;
NET "data[8]" PULLDOWN;
NET "data[7]" PULLDOWN;
NET "data[6]" PULLDOWN;
NET "data[5]" PULLDOWN;
NET "data[4]" PULLDOWN;
NET "data[3]" PULLDOWN;
NET "data[2]" PULLDOWN;
NET "data[1]" PULLDOWN;
NET "data[0]" PULLDOWN;
NET "clk" IOSTANDARD = LVCMOS18;
NET "reset" IOSTANDARD = LVCMOS18;
NET "sw_ab" IOSTANDARD = LVCMOS18;
NET "sw_data_add" IOSTANDARD = LVCMOS18;
NET "clk" PULLDOWN;
NET "reset" PULLDOWN;
NET "sw_ab" PULLDOWN;
NET "sw_data_add" PULLDOWN;

# PlanAhead Generated physical constraints 

NET "clk" LOC = R4;
NET "data[31]" LOC = T3;
NET "data[30]" LOC = U3;
NET "data[29]" LOC = T4;
NET "data[28]" LOC = V3;
NET "data[27]" LOC = V4;
NET "data[26]" LOC = W4;
NET "data[25]" LOC = Y4;
NET "data[24]" LOC = Y6;
NET "data[23]" LOC = W7;
NET "data[22]" LOC = Y8;
NET "data[21]" LOC = Y7;
NET "data[20]" LOC = T1;
NET "data[19]" LOC = U1;
NET "data[18]" LOC = U2;
NET "data[17]" LOC = W1;
NET "data[16]" LOC = W2;
NET "data[15]" LOC = Y1;
NET "data[14]" LOC = AA1;
NET "data[13]" LOC = V2;
NET "data[12]" LOC = Y2;
NET "data[11]" LOC = AB1;
NET "data[10]" LOC = AB2;
NET "data[9]" LOC = AB3;
NET "data[8]" LOC = AB5;
NET "data[7]" LOC = AA6;
NET "data[6]" LOC = R2;
NET "data[5]" LOC = R3;
NET "data[4]" LOC = T6;
NET "data[3]" LOC = R6;
NET "data[2]" LOC = U7;
NET "data[1]" LOC = AB7;
NET "data[0]" LOC = AB8;
NET "reset" LOC = AA4;
NET "sw_ab" LOC = AB6;
NET "sw_data_add" LOC = T5;
NET "led[31]" LOC = R1;
NET "led[30]" LOC = P2;
NET "led[29]" LOC = P1;
NET "led[28]" LOC = N2;
NET "led[27]" LOC = M1;
NET "led[26]" LOC = M2;
NET "led[25]" LOC = L1;
NET "led[24]" LOC = J2;
NET "led[23]" LOC = G1;
NET "led[22]" LOC = E1;
NET "led[21]" LOC = D2;
NET "led[20]" LOC = A1;
NET "led[19]" LOC = L3;
NET "led[18]" LOC = G3;
NET "led[17]" LOC = K4;
NET "led[16]" LOC = G4;
NET "led[15]" LOC = K1;
NET "led[14]" LOC = J1;
NET "led[13]" LOC = H2;
NET "led[12]" LOC = G2;
NET "led[11]" LOC = F1;
NET "led[10]" LOC = E2;
NET "led[9]" LOC = D1;
NET "led[8]" LOC = B1;
NET "led[7]" LOC = B2;
NET "led[6]" LOC = N3;
NET "led[5]" LOC = M3;
NET "led[4]" LOC = K3;
NET "led[3]" LOC = H3;
NET "led[2]" LOC = N4;
NET "led[1]" LOC = L4;
NET "led[0]" LOC = J4;
